// 在 VideoDanmu.java 中 nickName 字段附近增加：

    private String avatar;

    public String getAvatar() {
        return avatar;
    }

    public void setAvatar(String avatar) {
        this.avatar = avatar;
    }
